/.idea/
/.DS_Store/
/.vscode/
/__pycache__/
test.py/
/option_file/Test/
/Log/
.DS_Store
html_report/.DS_Store
option_file/STB/Quicksettings/__pycache__/
option_file/STB/Tools/Freezer/__pycache__/
option_file/STB/Tools/Marker/__pycache__/
option_file/STB/Tools/Screenshot/__pycache__/
option_file/STB/Tools/Spotlight/__pycache__/
option_file/STB/Tools/Stopwatch/__pycache__/
option_file/STB/Tools/Timer/__pycache__/
option_file/STB/Tools/__pycache__/
option_file/STB/__pycache__/
option_file/ScreenLock/__pycache__/
option_file/__pycache__/
option_file/vLauncher/Edit_Launcher/__pycache__/
option_file/vLauncher/Wallpaper/__pycache__/
option_file/vLauncher/recent_app/__pycache__/
option_file/vLauncher/__pycache__/
option_file/vLauncher/title/__pycache__/
